/* line 17, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/_helpers.scss */
html, body {
  min-height: 100%;
}

/* line 4, ../sass/partials/_helpers.scss */
body {
  font-family: "Tahoma", sans-serif;
  color: black;
  min-width: 970px;
  background-color: #dbe5ee;
}

/* line 11, ../sass/partials/_helpers.scss */
.wrapper, .main, .footer {
  margin: 0 auto;
  width: 970px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/partials/_helpers.scss */
* {
  outline: none;
  -webkit-font-smoothing: antialiased !important;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 27, ../sass/partials/_helpers.scss */
.clearfix:after, .wrapper:after, .main:after, .footer:after, .nav:after, .nav_hor:after, .top-bar__nav:after, .post__in:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 36, ../sass/partials/_helpers.scss */
.db {
  display: block;
}

/* line 40, ../sass/partials/_helpers.scss */
.dib {
  display: inline-block !important;
}

/* line 44, ../sass/partials/_helpers.scss */
.pull-left {
  float: left !important;
}

/* line 48, ../sass/partials/_helpers.scss */
.pull-right {
  float: right !important;
}

/* line 52, ../sass/partials/_helpers.scss */
.center {
  overflow: hidden !important;
}

/* line 56, ../sass/partials/_helpers.scss */
.tac {
  text-align: center !important;
}

/* line 60, ../sass/partials/_helpers.scss */
.tal {
  text-align: left !important;
}

/* line 64, ../sass/partials/_helpers.scss */
.tar {
  text-align: right !important;
}

/* line 68, ../sass/partials/_helpers.scss */
.nav, .nav_hor, .top-bar__nav {
  list-style: none;
}

/* line 74, ../sass/partials/_helpers.scss */
.nav_hor, .top-bar__nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
/* line 60, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.nav_hor li, .top-bar__nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.nav_hor li:first-child, .top-bar__nav li:first-child, .nav_hor li.first, .top-bar__nav li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.nav_hor li:last-child, .top-bar__nav li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.nav_hor li.last, .top-bar__nav li.last {
  padding-right: 0;
}

/* line 1, ../sass/partials/_typography.scss */
a {
  color: #33ae21;
  text-decoration: none;
}
/* line 4, ../sass/partials/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 9, ../sass/partials/_typography.scss */
strong {
  font-weight: 700;
}

/* line 13, ../sass/partials/_typography.scss */
h1 {
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 10px;
}

/* line 19, ../sass/partials/_typography.scss */
h2 {
  padding-bottom: 15px;
  color: #000;
  font-size: 16px;
}

/* line 25, ../sass/partials/_typography.scss */
p {
  color: #757575;
  font-size: 13px;
  line-height: 1.4;
  padding-bottom: 15px;
}

@font-face {
  font-family: 'wlcc';
  src: url("../fonts/wlcc.eot");
  src: url("../fonts/wlcc.eot?#iefix") format("embedded-opentype"), url("../fonts/wlcc.woff") format("woff"), url("../fonts/wlcc.ttf") format("truetype"), url("../fonts/wlcc.svg#wlcc") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../sass/partials/_icons.scss */
[data-icon]:before {
  font-family: 'wlcc';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 31, ../sass/partials/_icons.scss */
.icon-user-add, .icon-user, .icon-users, .icon-disk, .icon-pencil, .icon-camera, .icon-heart, .icon-quoted, .icon-feather, .icon-bookmark, .icon-clock, .icon-new, .icon-microphone, .icon-coin, .icon-mail, .icon-cog, .icon-exit {
  font-family: 'wlcc';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 41, ../sass/partials/_icons.scss */
.icon-user-add:before {
  content: "\e000";
}

/* line 44, ../sass/partials/_icons.scss */
.icon-user:before {
  content: "\e001";
}

/* line 47, ../sass/partials/_icons.scss */
.icon-users:before {
  content: "\e002";
}

/* line 50, ../sass/partials/_icons.scss */
.icon-disk:before {
  content: "\e003";
}

/* line 53, ../sass/partials/_icons.scss */
.icon-pencil:before {
  content: "\e004";
}

/* line 56, ../sass/partials/_icons.scss */
.icon-camera:before {
  content: "\e006";
}

/* line 59, ../sass/partials/_icons.scss */
.icon-heart:before {
  content: "\e007";
}

/* line 62, ../sass/partials/_icons.scss */
.icon-quoted:before {
  content: "\e008";
}

/* line 65, ../sass/partials/_icons.scss */
.icon-feather:before {
  content: "\e009";
}

/* line 68, ../sass/partials/_icons.scss */
.icon-bookmark:before {
  content: "\e005";
}

/* line 71, ../sass/partials/_icons.scss */
.icon-clock:before {
  content: "\e00a";
}

/* line 74, ../sass/partials/_icons.scss */
.icon-new:before {
  content: "\e00b";
}

/* line 77, ../sass/partials/_icons.scss */
.icon-microphone:before {
  content: "\e00c";
}

/* line 80, ../sass/partials/_icons.scss */
.icon-coin:before {
  content: "\e00d";
}

/* line 83, ../sass/partials/_icons.scss */
.icon-mail:before {
  content: "\e00e";
}

/* line 86, ../sass/partials/_icons.scss */
.icon-cog:before {
  content: "\e00f";
}

/* line 89, ../sass/partials/_icons.scss */
.icon-exit:before {
  content: "\e010";
}

/* line 1, ../sass/partials/_controls.scss */
.btn {
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 11, ../sass/partials/_controls.scss */
.btn_dark {
  padding: 0 27px;
  height: 26px;
  line-height: 26px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(247, 247, 247, 0.15), inset 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 0 rgba(247, 247, 247, 0.15), inset 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 0 rgba(247, 247, 247, 0.15), inset 1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.19);
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11);
}
/* line 21, ../sass/partials/_controls.scss */
.btn_dark i {
  margin: 0 5px 0 0;
}
/* line 24, ../sass/partials/_controls.scss */
.btn_dark:hover {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0 rgba(247, 247, 247, 0.3), inset 1px 1px 0 rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 1px 0 rgba(247, 247, 247, 0.3), inset 1px 1px 0 rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.38);
  box-shadow: 0 1px 0 rgba(247, 247, 247, 0.3), inset 1px 1px 0 rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.38);
}
/* line 30, ../sass/partials/_controls.scss */
.touch .btn_dark:hover, .btn_dark:active {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0 rgba(247, 247, 247, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0 1px 0 rgba(247, 247, 247, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.38);
  box-shadow: 0 1px 0 rgba(247, 247, 247, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.38);
}

/* line 36, ../sass/partials/_controls.scss */
.btn_blue2, .btn_blue, .btn_red, .btn_green, .btn_green2 {
  padding: 0 13px;
  height: 30px;
  line-height: 28px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), inset 0 1px 0 rgba(255, 255, 255, 0.28);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), inset 0 1px 0 rgba(255, 255, 255, 0.28);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), inset 0 1px 0 rgba(255, 255, 255, 0.28);
  text-shadow: 0 1px 1px rgba(3, 3, 3, 0.17);
}
/* line 48, ../sass/partials/_controls.scss */
.btn_blue2:hover, .btn_blue:hover, .btn_red:hover, .btn_green:hover, .btn_green2:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}
/* line 53, ../sass/partials/_controls.scss */
.touch .btn_blue2:hover, .touch .btn_blue:hover, .touch .btn_red:hover, .touch .btn_green:hover, .touch .btn_green2:hover, .btn_blue2:active, .btn_blue:active, .btn_red:active, .btn_green:active, .btn_green2:active, .active.btn_blue2, .active.btn_blue, .active.btn_red, .active.btn_green, .active.btn_green2 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  color: rgba(255, 255, 255, 0.7);
}

/* line 60, ../sass/partials/_controls.scss */
.btn_blue2 {
  border: 1px solid #3595a3;
  background-color: #1db3cb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyZGFmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFkYjNjYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42daf5), color-stop(100%, #1db3cb));
  background-image: -webkit-linear-gradient(#42daf5, #1db3cb);
  background-image: -moz-linear-gradient(#42daf5, #1db3cb);
  background-image: -o-linear-gradient(#42daf5, #1db3cb);
  background-image: linear-gradient(#42daf5, #1db3cb);
  text-shadow: 0 1px 1px rgba(3, 3, 3, 0.17);
}
/* line 66, ../sass/partials/_controls.scss */
.btn_blue2:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjYjJjYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQxZDlmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1cb2ca), color-stop(100%, #41d9f4));
  background-image: -webkit-linear-gradient(#1cb2ca, #41d9f4);
  background-image: -moz-linear-gradient(#1cb2ca, #41d9f4);
  background-image: -o-linear-gradient(#1cb2ca, #41d9f4);
  background-image: linear-gradient(#1cb2ca, #41d9f4);
}
/* line 71, ../sass/partials/_controls.scss */
.touch .btn_blue2:hover, .btn_blue2:active, .btn_blue2.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiYjFjOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFkYjVjZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1bb1c9), color-stop(100%, #1db5cd));
  background-image: -webkit-linear-gradient(#1bb1c9, #1db5cd);
  background-image: -moz-linear-gradient(#1bb1c9, #1db5cd);
  background-image: -o-linear-gradient(#1bb1c9, #1db5cd);
  background-image: linear-gradient(#1bb1c9, #1db5cd);
}

/* line 76, ../sass/partials/_controls.scss */
.btn_blue {
  border: 1px solid #2e6dbb;
  background-color: #519fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxOWZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiYmVmZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #519fff), color-stop(100%, #8bbefd));
  background-image: -webkit-linear-gradient(bottom, #519fff 0%, #8bbefd 100%);
  background-image: -moz-linear-gradient(bottom, #519fff 0%, #8bbefd 100%);
  background-image: -o-linear-gradient(bottom, #519fff 0%, #8bbefd 100%);
  background-image: linear-gradient(bottom, #519fff 0%, #8bbefd 100%);
}
/* line 82, ../sass/partials/_controls.scss */
.btn_blue:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhiYmVmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUxOWZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #8bbefd), color-stop(100%, #519fff));
  background-image: -webkit-linear-gradient(bottom, #8bbefd 0%, #519fff 100%);
  background-image: -moz-linear-gradient(bottom, #8bbefd 0%, #519fff 100%);
  background-image: -o-linear-gradient(bottom, #8bbefd 0%, #519fff 100%);
  background-image: linear-gradient(bottom, #8bbefd 0%, #519fff 100%);
}
/* line 88, ../sass/partials/_controls.scss */
.touch .btn_blue:hover, .btn_blue:active, .btn_blue.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxOWZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUxOWZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #519fff), color-stop(100%, #519fff));
  background-image: -webkit-linear-gradient(bottom, #519fff 0%, #519fff 100%);
  background-image: -moz-linear-gradient(bottom, #519fff 0%, #519fff 100%);
  background-image: -o-linear-gradient(bottom, #519fff 0%, #519fff 100%);
  background-image: linear-gradient(bottom, #519fff 0%, #519fff 100%);
}

/* line 93, ../sass/partials/_controls.scss */
.btn_red {
  border: 1px solid #ae2500;
  background-color: #cb1d23;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzNDE0NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NiMWQyMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f34145), color-stop(100%, #cb1d23));
  background-image: -webkit-linear-gradient(#f34145, #cb1d23);
  background-image: -moz-linear-gradient(#f34145, #cb1d23);
  background-image: -o-linear-gradient(#f34145, #cb1d23);
  background-image: linear-gradient(#f34145, #cb1d23);
}
/* line 98, ../sass/partials/_controls.scss */
.btn_red:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiMWQyMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzNDE0NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cb1d23), color-stop(100%, #f34145));
  background-image: -webkit-linear-gradient(#cb1d23, #f34145);
  background-image: -moz-linear-gradient(#cb1d23, #f34145);
  background-image: -o-linear-gradient(#cb1d23, #f34145);
  background-image: linear-gradient(#cb1d23, #f34145);
}
/* line 103, ../sass/partials/_controls.scss */
.touch .btn_red:hover, .btn_red:active, .btn_red.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmMjEyNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NiMWQyMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cf2127), color-stop(100%, #cb1d23));
  background-image: -webkit-linear-gradient(#cf2127, #cb1d23);
  background-image: -moz-linear-gradient(#cf2127, #cb1d23);
  background-image: -o-linear-gradient(#cf2127, #cb1d23);
  background-image: linear-gradient(#cf2127, #cb1d23);
}

/* line 108, ../sass/partials/_controls.scss */
.btn_green {
  background-color: #33ae21;
  border: 1px solid #1e8010;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2ZDMzMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzYWQyMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76d332), color-stop(100%, #33ad21));
  background-image: -webkit-linear-gradient(#76d332, #33ad21);
  background-image: -moz-linear-gradient(#76d332, #33ad21);
  background-image: -o-linear-gradient(#76d332, #33ad21);
  background-image: linear-gradient(#76d332, #33ad21);
}
/* line 115, ../sass/partials/_controls.scss */
.btn_green:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0YWYyMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc0ZDIzNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34af21), color-stop(100%, #74d234));
  background-image: -webkit-linear-gradient(#34af21, #74d234);
  background-image: -moz-linear-gradient(#34af21, #74d234);
  background-image: -o-linear-gradient(#34af21, #74d234);
  background-image: linear-gradient(#34af21, #74d234);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2ZDMzMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzYWQyMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #76d332), color-stop(100%, #33ad21));
  background-image: -webkit-linear-gradient(bottom, #76d332 0%, #33ad21 100%);
  background-image: -moz-linear-gradient(bottom, #76d332 0%, #33ad21 100%);
  background-image: -o-linear-gradient(bottom, #76d332 0%, #33ad21 100%);
  background-image: linear-gradient(bottom, #76d332 0%, #33ad21 100%);
}
/* line 121, ../sass/partials/_controls.scss */
.touch .btn_green:hover, .btn_green:active, .btn_green.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxZDM5OSIvPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3NmQzMzIiLz48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzNhZDIxIi8+PHN0b3Agb2Zmc2V0PSI4Ni4yNSUiIHN0b3AtY29sb3I9IiMzM2FkMjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzM2FkMjEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #21d399), color-stop(0%, #76d332), color-stop(0%, #33ad21), color-stop(86.25%, #33ad21), color-stop(100%, #33ad21));
  background-image: -webkit-linear-gradient(bottom, #21d399 0%, #76d332 0%, #33ad21 0%, #33ad21 86.25%, #33ad21 100%);
  background-image: -moz-linear-gradient(bottom, #21d399 0%, #76d332 0%, #33ad21 0%, #33ad21 86.25%, #33ad21 100%);
  background-image: -o-linear-gradient(bottom, #21d399 0%, #76d332 0%, #33ad21 0%, #33ad21 86.25%, #33ad21 100%);
  background-image: linear-gradient(bottom, #21d399 0%, #76d332 0%, #33ad21 0%, #33ad21 86.25%, #33ad21 100%);
}

/* line 127, ../sass/partials/_controls.scss */
.btn_green2 {
  border: 1px solid #35a379;
  background-color: #33ae21;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxZjNiMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFiYzk4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #41f3b1), color-stop(100%, #1bc987));
  background-image: -webkit-linear-gradient(#41f3b1, #1bc987);
  background-image: -moz-linear-gradient(#41f3b1, #1bc987);
  background-image: -o-linear-gradient(#41f3b1, #1bc987);
  background-image: linear-gradient(#41f3b1, #1bc987);
}
/* line 133, ../sass/partials/_controls.scss */
.btn_green2:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiYzk4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQxZjNiMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1bc987), color-stop(100%, #41f3b1));
  background-image: -webkit-linear-gradient(#1bc987, #41f3b1);
  background-image: -moz-linear-gradient(#1bc987, #41f3b1);
  background-image: -o-linear-gradient(#1bc987, #41f3b1);
  background-image: linear-gradient(#1bc987, #41f3b1);
}
/* line 138, ../sass/partials/_controls.scss */
.touch .btn_green2:hover, .btn_green2:active, .btn_green2.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiYzk4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFkY2Q4OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1bc987), color-stop(100%, #1dcd89));
  background-image: -webkit-linear-gradient(#1bc987, #1dcd89);
  background-image: -moz-linear-gradient(#1bc987, #1dcd89);
  background-image: -o-linear-gradient(#1bc987, #1dcd89);
  background-image: linear-gradient(#1bc987, #1dcd89);
}

/* line 143, ../sass/partials/_controls.scss */
.segmented-btn {
  font-size: 0;
  line-height: 0;
}
/* line 146, ../sass/partials/_controls.scss */
.segmented-btn .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-left-width: 0;
}
/* line 149, ../sass/partials/_controls.scss */
.segmented-btn .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-left-width: 1px;
}
/* line 153, ../sass/partials/_controls.scss */
.segmented-btn .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* line 177, ../sass/partials/_controls.scss */
textarea {
  width: 100%;
  height: 150px;
  -webkit-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.32), inset 0px 0px 1px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.32), inset 0px 0px 1px rgba(0, 0, 0, 0.32);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.32), inset 0px 0px 1px rgba(0, 0, 0, 0.32);
  border: 0;
  color: #000;
  font-size: 13px;
  resize: none;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px;
}

/* line 1, ../sass/partials/_header.scss */
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}

/* line 9, ../sass/partials/_header.scss */
.top-bar {
  height: 35px;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.5);
}

/* line 18, ../sass/partials/_header.scss */
.top-bar__nav li {
  padding: 0 20px 0 0;
}
/* line 21, ../sass/partials/_header.scss */
.top-bar__nav a {
  color: #fff;
  font-size: 13px;
  position: relative;
  display: block;
  text-decoration: none;
}
/* line 28, ../sass/partials/_header.scss */
.top-bar__nav i {
  font-size: 14px;
  position: relative;
  top: 1px;
}

/* line 35, ../sass/partials/_header.scss */
.top-bar__counter {
  position: absolute;
  top: -10px;
  font-size: 10px;
  color: #33ae21;
}

/* line 42, ../sass/partials/_header.scss */
.logo {
  height: 74px;
  display: inline-block;
  background-size: auto 102px;
  font-size: 47px;
  line-height: 74px;
  margin: -15px 0 19px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none !important;
  padding: 0;
  font-family: Helvetica;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
}
/* line 58, ../sass/partials/_header.scss */
.logo:hover {
  text-shadow: #fff 0 0 5px;
  transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}
/* line 62, ../sass/partials/_header.scss */
.logo img {
  display: inline-block;
  height: 100%;
  margin: 6px -12px;
  position: relative;
  top: 9px;
}

/* line 71, ../sass/partials/_header.scss */
.main-nav {
  height: 47px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0;
  line-height: 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 1px 1px 0 0;
  -moz-border-radius: 1px 1px 0 0;
  -ms-border-radius: 1px 1px 0 0;
  -o-border-radius: 1px 1px 0 0;
  border-radius: 1px 1px 0 0;
}
/* line 80, ../sass/partials/_header.scss */
.main-nav li {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 85, ../sass/partials/_header.scss */
.main-nav a {
  line-height: 51px;
  height: 49px;
  display: block;
  color: #fff;
  font-size: 11px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.61);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 9px;
  position: relative;
  top: -1px;
}
/* line 98, ../sass/partials/_header.scss */
.main-nav a:hover, .main-nav a.active {
  -webkit-box-shadow: 1px 0 3px rgba(30, 44, 37, 0.6) inset, -1px 0 3px rgba(30, 44, 37, 0.6) inset;
  -moz-box-shadow: 1px 0 3px rgba(30, 44, 37, 0.6) inset, -1px 0 3px rgba(30, 44, 37, 0.6) inset;
  box-shadow: 1px 0 3px rgba(30, 44, 37, 0.6) inset, -1px 0 3px rgba(30, 44, 37, 0.6) inset;
  background: rgba(0, 0, 0, 0.1);
}

/* line 1, ../sass/partials/_widgets.scss */
.widget {
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 11px 0;
  background: #fff;
}
/* line 3, ../sass/partials/_widgets.scss */
.widget > h2 i {
  color: #000;
  position: relative;
  top: 1px;
  font-size: 16px;
  margin: 0 10px 0 0;
}

/* line 18, ../sass/partials/_widgets.scss */
.widget_small {
  width: 463px;
}

/* line 23, ../sass/partials/_widgets.scss */
.widget_video .widget__body {
  width: 451px;
  margin: 0 auto;
  padding: 4px 0;
}

/* line 34, ../sass/partials/_widgets.scss */
.widget__row, .widget__header {
  height: 46px;
  line-height: 46px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 14px;
  overflow: hidden;
  background: #f7f7f7;
  border-bottom: 1px solid #e5e5e5;
  color: #767676;
  font-size: 13px;
}
/* line 45, ../sass/partials/_widgets.scss */
.widget__row.first, .first.widget__header {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
/* line 48, ../sass/partials/_widgets.scss */
.widget__row.last, .last.widget__header {
  border: 0;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

/* line 54, ../sass/partials/_widgets.scss */
.widget__row_big {
  height: auto;
  min-height: 46px;
  line-height: 1.2;
  padding-top: 17px;
  padding-bottom: 17px;
}

/* line 62, ../sass/partials/_widgets.scss */
.widget__header {
  font-size: 16px;
  background: #fff;
  color: #000;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

/* line 71, ../sass/partials/_widgets.scss */
.widget__rows_zebra .widget__row:nth-child(even), .widget__rows_zebra .widget__header:nth-child(even) {
  background: #fafafa;
}

/* line 76, ../sass/partials/_widgets.scss */
.schedule {
  width: 100%;
}
/* line 79, ../sass/partials/_widgets.scss */
.schedule th {
  height: 46px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
}
/* line 90, ../sass/partials/_widgets.scss */
.schedule tr:nth-child(even) td {
  background: #fafafa;
}
/* line 93, ../sass/partials/_widgets.scss */
.schedule tr:nth-child(odd) td {
  background: #f7f7f7;
}
/* line 96, ../sass/partials/_widgets.scss */
.schedule td {
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  font-size: 13px;
  color: #767676;
  text-transform: uppercase;
  text-align: center;
  height: 48px;
}
/* line 99, ../sass/partials/_widgets.scss */
.schedule td:first-child {
  border-left: 0;
}

/* line 110, ../sass/partials/_widgets.scss */
.post {
  background: #f9f9f9;
}
/* line 112, ../sass/partials/_widgets.scss */
.post .avatar {
  margin: 0 10px 25px 0;
}

/* line 117, ../sass/partials/_widgets.scss */
.post__in {
  padding: 15px;
}

/* line 122, ../sass/partials/_widgets.scss */
.post__info {
  width: 380px;
}

/* line 126, ../sass/partials/_widgets.scss */
.post__author {
  color: #33ae21 !important;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  height: 17px;
  overflow: hidden;
}

/* line 135, ../sass/partials/_widgets.scss */
.post__date {
  color: #757575;
  font-size: 13px;
  position: relative;
  padding: 0 0 0 13px;
  margin-bottom: 35px;
  height: 20px;
  line-height: 20px;
}
/* line 143, ../sass/partials/_widgets.scss */
.post__date i {
  font-size: 18px;
  position: absolute;
  left: -5px;
  top: 2px;
}

/* line 152, ../sass/partials/_widgets.scss */
.post__quoted h4 {
  color: #000;
  font-size: 13px;
  margin-bottom: 5px;
}
/* line 157, ../sass/partials/_widgets.scss */
.post__quoted .avatar {
  width: 49px;
  margin: 0 10px 0 0;
}
/* line 161, ../sass/partials/_widgets.scss */
.post__quoted .post__author {
  font-size: 13px;
  margin: 0 0 5px 0;
}

/* line 167, ../sass/partials/_widgets.scss */
.post__nav {
  border-top: 1px solid #d6d6d6;
  background: #fff;
  overflow: hidden;
  padding: 18px;
}
/* line 172, ../sass/partials/_widgets.scss */
.post__nav .btn {
  margin-left: 8px;
}
/* line 176, ../sass/partials/_widgets.scss */
.post__nav .segmented-btn .btn {
  margin-left: 0;
}

/* line 182, ../sass/partials/_widgets.scss */
.post__like__btn {
  overflow: hidden;
  color: #f9f9f9;
  font-size: 13px;
  display: block;
  width: 140px;
  height: 25px;
  line-height: 23px;
  margin-bottom: 5px;
  padding: 0 8px;
}

/* line 198, ../sass/partials/_widgets.scss */
.comments__btn {
  height: 50px;
  line-height: 50px;
  display: block;
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-decoration: none !important;
  border: 1px solid #2e6dbb;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), inset 0 1px 0 rgba(255, 255, 255, 0.28);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), inset 0 1px 0 rgba(255, 255, 255, 0.28);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13), inset 0 1px 0 rgba(255, 255, 255, 0.28);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxOWZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiYmVmZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #519fff), color-stop(100%, #8bbefd));
  background-image: -webkit-linear-gradient(bottom, #519fff 0%, #8bbefd 100%);
  background-image: -moz-linear-gradient(bottom, #519fff 0%, #8bbefd 100%);
  background-image: -o-linear-gradient(bottom, #519fff 0%, #8bbefd 100%);
  background-image: linear-gradient(bottom, #519fff 0%, #8bbefd 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 210, ../sass/partials/_widgets.scss */
.comments__btn:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhiYmVmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUxOWZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #8bbefd), color-stop(100%, #519fff));
  background-image: -webkit-linear-gradient(bottom, #8bbefd 0%, #519fff 100%);
  background-image: -moz-linear-gradient(bottom, #8bbefd 0%, #519fff 100%);
  background-image: -o-linear-gradient(bottom, #8bbefd 0%, #519fff 100%);
  background-image: linear-gradient(bottom, #8bbefd 0%, #519fff 100%);
}
/* line 213, ../sass/partials/_widgets.scss */
.comments__btn:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxOWZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUxOWZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #519fff), color-stop(100%, #519fff));
  background-image: -webkit-linear-gradient(bottom, #519fff 0%, #519fff 100%);
  background-image: -moz-linear-gradient(bottom, #519fff 0%, #519fff 100%);
  background-image: -o-linear-gradient(bottom, #519fff 0%, #519fff 100%);
  background-image: linear-gradient(bottom, #519fff 0%, #519fff 100%);
}

/* line 1, ../sass/partials/_content.scss */
.main {
  margin-top: 40px;
  position: relative;
  z-index: 2;
  text-align: center;
}

/* line 9, ../sass/partials/_content.scss */
.main__in {
  text-align: left;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* line 14, ../sass/partials/_content.scss */
.content {
  background: #ececec;
  background: rgba(236, 236, 236, 0.8);
  width: 960px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

/* line 23, ../sass/partials/_content.scss */
.profile {
  padding-bottom: 45px;
}
/* line 25, ../sass/partials/_content.scss */
.profile .btn {
  display: block;
  margin-bottom: 7px;
}

/* line 31, ../sass/partials/_content.scss */
.profile__item {
  margin-left: 13px;
}

/* line 35, ../sass/partials/_content.scss */
.profile__item_small {
  width: 233px;
}

/* line 39, ../sass/partials/_content.scss */
.profile__item__key {
  width: 217px;
  display: inline-block;
  color: #000;
}

/* line 45, ../sass/partials/_content.scss */
.avatar {
  width: 145px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 1px #d0d0d0;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 1px #d0d0d0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 1px #d0d0d0;
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.2) -20.11%, rgba(255, 255, 255, 0.2) 129.89%);
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}
/* line 54, ../sass/partials/_content.scss */
.avatar img {
  display: block;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  width: 100%;
  height: 100%;
}

/* line 62, ../sass/partials/_content.scss */
.avatar_big {
  margin-bottom: 11px;
  width: 220px;
  max-height: 300px;
}

/* line 72, ../sass/partials/_content.scss */
.table {
  width: 100%;
}

/* line 5, ../sass/partials/_footer.scss */
.slider-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg") no-repeat 50% 0;
  background-size: cover;
  z-index: 1;
  left: 0;
  top: 0px;
  overflow: hidden;
}
