*.gem
*.rbc
.bundle
.config
*.erb
.coffescript-cache/*
.sass-cache/*
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
wlccMarkup.iml
.coffeescript-cache/__sers_berdof__rojects_mine_wlcc_markup_html_coffeescripts__ew_ite_coffee
.coffeescript-cache/__sers_berdof__rojects_mine_wlcc_wlcc_arkup_coffeescripts__lcc_pp_coffee
.idea/libraries/compass_library.xml
.idea/uiDesigner.xml
.idea/
.coffeescript-cache/