<ul>
    <li><a href="home.html">Главная</a></li>
    <li><a href="my_profile.html">Моя страница</a></li>
    <li><a href="events.html">События</a></li>
    <li><a href="needs.html">Нужды</a></li>
    <li><a href="testimonies.html">Свидетельства</a></li>
    <li><a href="pastors_profile.html">Пастор</a></li>
</ul>


