
<section class="widget add-post closed">
    <header class="widget__header">
        <i class="icon-pencil"></i>
        <%= title %> (10)
        <div class="pull-right">
            <span data-toggle-class="closed|closest|.add-post" class="btn btn_green">Добавить запись</span>
        </div>
    </header>
    <div class="widget__rows_zebra">
        <form action="#" class="widget__row widget__row_big">
            <textarea></textarea>
            <footer class="add-post__footer">
                <div class="pull-left">
                    <input class="btn btn_green" type="submit" value="отправить"/>
                    <a href="javascript:void(0);"><i class="icon-camera"></i></a>
                </div>
                <div class="add-post__imgs">
                    <div class="add-post__imgs__item">
                        <img src="images/tmp/uploaded-pic.jpg" alt=""/>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="add-post__imgs__item">
                        <img src="images/tmp/uploaded-pic.jpg" alt=""/>
                        <i class="icon-cross"></i>
                    </div>
                </div>
                <div class="pull-right">
                    <span data-toggle-class="closed|closest|.add-post" class="btn btn_blue">Отменить</span>
                </div>
            </footer>
        </form>
    </div>
</section>