<div class="widget categories">
    <h2 class="widget__header"><%= title %></h2>
    <ul>
        <% cats.each do |catsEl| %>
          <li><a href="javascript:void(0);"><%=catsEl%></a></li>
        <% end; %>
        <li class="active"><a href="javascript:void(0);">Dummy</a></li>
    </ul>
</div>