</div>
</section>
<div class="slider-bg">
</div>
<footer class="footer">
    <div class="wrapper">
    </div>
</footer>
</div>

<% if defined?(isMain) %>
  <div class="home-side baptizing">
      <article class="home-side__in">
          <h2>Крешение</h2>

          <p> Господь, я прихожу к Тебе такой какой есть, услышь меня.
              Я признаю себя грешником и не хочу больше грешить.
              Господи, прости за жизнь, прожитую без Тебя, за грехи, которые я совершал. Прими мое покаяние.
              Иисус Христос, я верю, что Ты родился на этой земле, принес Свое учение и умер на кресте за меня, взяв на Себя все мои грехи. Я принимаю Тебя в свое сердце как Господа и Спасителя.
              Духом Святым войди в мое сердце прямо сейчас.</p>

          <p> Я верю, что Ты услышал мою молитву. Ради Тебя, дорогой Иисус Христос, я прощаю всех моих обидчиков, как Ты простил меня. Во имя Иисуса Христа я отрекаюсь от дьявола и всего оккультного.
              Научи меня , Господи, жить по Твоему учению. Да исполнится воля Твоя в моей жизни!
              Аминь. </p>
          <a class="btn btn_white" href="javascript:void(0);">Записаться на крещение</a>
      </article>
      <div data-toggle-class="baptizing-opened|any|body" class="home-side__close"></div>
  </div>
  <div class="home-side penance">
      <article class="home-side__in">
          <h2>Покаяние</h2>

          <p> Господь, я прихожу к Тебе такой какой есть, услышь меня.
              Я признаю себя грешником и не хочу больше грешить.
              Господи, прости за жизнь, прожитую без Тебя, за грехи, которые я совершал. Прими мое покаяние.
              Иисус Христос, я верю, что Ты родился на этой земле, принес Свое учение и умер на кресте за меня, взяв на Себя все мои грехи. Я принимаю Тебя в свое сердце как Господа и Спасителя.
              Духом Святым войди в мое сердце прямо сейчас.</p>

          <p> Я верю, что Ты услышал мою молитву. Ради Тебя, дорогой Иисус Христос, я прощаю всех моих обидчиков, как Ты простил меня. Во имя Иисуса Христа я отрекаюсь от дьявола и всего оккультного.
              Научи меня , Господи, жить по Твоему учению. Да исполнится воля Твоя в моей жизни!
              Аминь. </p>
          <a href="javascript:void(0);"></a>
      </article>
      <div data-toggle-class="penance-opened|any|body" class="home-side__close"></div>
  </div>
  <%= render :partial => "registration", :locals => {:auth => 'registration'} %>
  <%= render :partial => "registration", :locals => {:auth => 'auth'} %>
<% end %>