<ul class="main-nav">
    <li class="active"><a href="home.html">Главная</a></li>
    <li><a href="events.html">События</a></li>
    <li><a href="needs.html">Нужды</a></li>
    <li><a href="testimonies.html">Свидетельства</a></li>
    <li><a href="people.html">Люди</a></li>
    <li>
        <a href="javascript:void(0);">Медиа</a>
        <ul>
            <li><a href="media-sermon.html">Проповеди</a></li>
            <li><a href="media-audio.html">Песни</a></li>
            <li><a href="media-clips.html">Клипы</a></li>
            <li><a href="media-photo.html">Фото</a></li>
        </ul>
    </li>
    <li><a href="home-groups.html">Домашние группы</a></li>
    <li><a href="javascript:void(0);">Публикации</a></li>
    <li><a href="church.html">Церковь</a></li>
    <li><a href="services.html">Служение</a></li>
    <li><a href="pastors_profile.html">К пастору</a></li>
</ul>