<ul class="main-nav">
    <li><a class="active" href="home.html">Главная</a></li>
    <li><a href="events.html">События</a></li>
    <li><a href="needs.html">Нужды</a></li>
    <li><a href="testimonies.html">Свидетельства</a></li>
    <li><a href="people.html">Люди</a></li>
    <li><a href="javascript:void(0);">Медиа</a></li>
    <li><a href="home-groups.html">Домашние группы</a></li>
    <li><a href="javascript:void(0);">Публикации</a></li>
    <li><a href="javascript:void(0);">Церковь</a></li>
    <li><a href="javascript:void(0);">Служение</a></li>
    <li><a href="pastors_profile.html">К пастору</a></li>
</ul>