<div class="content media">
<aside class="content__sidebar sticky-sidebar">
    <div class="widget ">
        <%#
            <div class="controls-box">
                <h4 class="label">Формат:</h4>
                <label>
                    <input type="radio" name="format"/>
                    <span class="input-label">Аудио</span>
                </label>
                <label>
                    <input type="radio" name="format"/>
                    <span class="input-label">Видео</span>
                </label>
                <label>
                    <input type="radio" checked="checked" name="format"/>
                    <span class="input-label">Любой</span>
                </label>
            </div>
        %>
        <% if type == 'Проповеди' %>
          <div class="controls-box">
              <h4 class="label">Дата проведения:</h4>

              <div class="clearfix">
                  <h4 class="label pull-left">От:</h4>

                  <div class="select select_date pull-right">
                      <div class="select__label"></div>
                      <input class="select_date__input" type="text" value="">
                  </div>
              </div>
              <div class="clearfix">
                  <h4 class="label pull-left">До:</h4>

                  <div class="select select_date pull-right">
                      <div class="select__label"></div>
                      <input class="select_date__input" type="text" value="">
                  </div>
              </div>
          </div>
          <div class="controls-box list list_small">
              <h4 class="label">Категории:</h4>

              <ul>
                  <li class="active">Все</li>

                  <li>Воскресное</li>

                  <li>Праздничное</li>

                  <li>Молодежное</li>

                  <li>Конференция</li>

              </ul>
          </div>
          <div class="controls-box list list_small">
              <h4 class="label">Проповедник:</h4>

              <ul>
                  <li class="active">Все</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

              </ul>
          </div>
        <% elsif type == 'Песни' %>
          <div class="controls-box list list_small">
              <h4 class="label">Жанр:</h4>
              <ul>
                  <li class="active">Все</li>
                  <li>Прославление</li>
                  <li>Инструменталка</li>
                  <li>Поп</li>
                  <li>Рок</li>
                  <li>Шансон</li>

              </ul>
          </div>
          <div class="controls-box list list_small">
              <h4 class="label">Исполнитель:</h4>
              <ul>
                  <li class="active">Все</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

                  <li>Александр Бердышев</li>

              </ul>
          </div>
        <% elsif type == 'Клипы' %>
          <div class="controls-box list list_small">
              <h4 class="label">Категория:</h4>
              <ul>
                  <li class="active">Все</li>
                  <li>Ролики</li>
                  <li>Отчеты</li>
                  <li>Клипы</li>
              </ul>
          </div>
        <% elsif type == 'Фото' %>
          <div class="controls-box">
              <h4 class="label">Дата добавления:</h4>

              <div class="clearfix">
                  <h4 class="label pull-left">От:</h4>

                  <div class="select select_date pull-right">
                      <div class="select__label"></div>
                      <input class="select_date__input" type="text" value="">
                  </div>
              </div>
              <div class="clearfix">
                  <h4 class="label pull-left">До:</h4>

                  <div class="select select_date pull-right">
                      <div class="select__label"></div>
                      <input class="select_date__input" type="text" value="">
                  </div>
              </div>
          </div>
        <% end %>
    </div>
</aside>
<section class="center widget sticky-content">
<header class="widget__header"><%= type %></header>

<div class="widget__body pb0">
<% if type == 'Проповеди' || type == 'Клипы' %>
  <div class="video">
      <iframe src="//player.vimeo.com/video/71070693?title=0&amp;byline=0&amp;portrait=0" width="670" height="377" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
<% elsif type == 'Песни' %>
  <div class="audio">
      <iframe width="100%" height="60" src="//www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com%2Fjohndigweed%2Ftransitions-with-john-digweed-and-droog%2F&amp;mini=1&amp;embed_uuid=530d00c3-1eff-4bc7-a26a-78c2d9a6c328&amp;replace=0&amp;hide_cover=1&amp;light=1&amp;stylecolor=33ae21&amp;embed_type=widget_standard&amp;hide_tracklist=1" frameborder="0"></iframe>

  </div>
<% end %>
<% if defined?(photoIn) %>
<header class="center media-photo__header">
    <div class="media__album-name pull-left">Альбом 123</div>
    <a  class="media__album__back pull-right" href="javascript:void(0);"><i class="icon-quoted"></i> обратно к списку альбомов </a>
</header>
  <section class="media-photo-wrap">
  <% (1..5).each do |n| %>
    <a rel="fancybox-thumb" class="media-photo media-photo_small photo-album first pull-left" href="images/tmp/photo-album.png">
        <img src="images/tmp/photo-album.png" alt="">
    </a>
    <a rel="fancybox-thumb" class="media-photo media-photo_small photo-album pull-left" href="images/tmp/photo-album.png">
        <img src="images/tmp/photo-album.png" alt="">
    </a>
    <a rel="fancybox-thumb" class="media-photo media-photo_small photo-album pull-left" href="images/tmp/photo-album.png">
        <img src="images/tmp/photo-album.png" alt="">
    </a>
  <% end %>
  </section>
<% else %>
  <form class="media-search" action="#">
      <input type="text" placeholder="Поиск..." class="textbox_search"/>

      <div class="media-search__submit">
          <input class="icon-search" type="submit" value=""/>
      </div>
  </form>

  <% if type == 'Фото' %>
    <figure class="media-photo photo-album pull-left">
        <div class="photo-album__title">
            <span class="photo-album__title__name pull-left">Название альбома</span>
            <span class="pull-right">10.10.2013</span>
        </div>
        <img src="images/tmp/photo-album.png" alt="">
    </figure>
    <figure class="media-photo photo-album pull-right">
        <div class="photo-album__title">
            <span class="photo-album__title__name pull-left">Название альбома</span>
            <span class="pull-right">10.10.2013</span>
        </div>
        <img src="images/tmp/photo-album.png" alt="">
    </figure>
    <figure class="media-photo photo-album pull-left">
        <div class="photo-album__title">
            <span class="photo-album__title__name pull-left">Название альбома</span>
            <span class="pull-right">10.10.2013</span>
        </div>
        <img src="images/tmp/photo-album.png" alt="">
    </figure>
    <figure class="media-photo photo-album pull-right">
        <div class="photo-album__title">
            <span class="photo-album__title__name pull-left">Название альбома</span>
            <span class="pull-right">10.10.2013</span>
        </div>
        <img src="images/tmp/photo-album.png" alt="">
    </figure>
    <figure class="media-photo photo-album pull-left">
        <div class="photo-album__title">
            <span class="photo-album__title__name pull-left">Название альбома</span>
            <span class="pull-right">10.10.2013</span>
        </div>
        <img src="images/tmp/photo-album.png" alt="">
    </figure>
    <figure class="media-photo photo-album pull-right">
        <div class="photo-album__title">
            <span class="photo-album__title__name pull-left">Название альбома</span>
            <span class="pull-right">10.10.2013</span>
        </div>
        <img src="images/tmp/photo-album.png" alt="">
    </figure>
  <% else %>

    <div class="clearfix">
        <div class="pull-right">
            <div class="controls-box list">
                <ul>
                    <li class="active">Мой плейлист</li>
                </ul>
            </div>
            <div class="controls-box list list_small">
                <h4 class="label">Друзья:</h4>

                <ul>
                    <li class="active">Все</li>

                    <li>Александр Бердышев</li>

                    <li>Александр Бердышев</li>

                    <li>Александр Бердышев</li>

                    <li>Александр Бердышев</li>

                    <li>Александр Бердышев</li>

                    <li>Александр Бердышев</li>

                    <li>Александр Бердышев</li>

                    <li>Александр Бердышев</li>

                    <li>Александр Бердышев</li>

                    <li>Александр Бердышев</li>

                </ul>
            </div>
            <div class="controls-box list list_small">
                <h4 class="label">Плейлисты (медиатеки):</h4>

                <ul>
                    <li class="active">Все</li>

                    <li>Плейлист 1</li>
                    <li>Плейлист 1</li>
                    <li>Плейлист 1</li>
                    <li>Плейлист 1</li>
                    <li>Плейлист 1</li>
                    <li>Плейлист 1</li>
                    <li>Плейлист 1</li>
                    <li>Плейлист 1</li>
                </ul>
            </div>
        </div>
        <div class="center">
            <div class="media__items">
                <% (1..5).each do |n| %>
                  <% if type == 'Проповеди' %>

                    <section class="media__sermon media__audio
                              <% if n == 2 %>active
                              <% end %>">
                        <div class="pull-right  media__sermon__img ">
                            <div class="dtc">
                                <div class="select">
                                    <div class="select select__label">Общее</div>
                                    <select name="" id="">
                                        <option value="1">Общее</option>
                                        <option value="1">Медиатека 1</option>
                                        <option value="1">Медиатека 2</option>
                                        <option value="1">Медиатека 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                            <h4 class="media__sermon__topic">Проповедь открытие церкви тема </h4>

                            <div class="center">
                                <div class="pull-left">Проповедник:</div>
                                <div class="pull-right media__sermon__author">Очень Длинная Фамилия и Имя</div>
                            </div>
                            <div class="center">
                                <div class="pull-left">Дата:</div>
                                <time class="pull-right">20.12.2012</time>
                            </div>
                        </div>
                    </section>
                  <% elsif type == 'Клипы' %>

                    <section class="media__sermon media__audio
                              <% if n == 2 %>active
                              <% end %>">
                        <div class="pull-right  media__sermon__img ">
                            <div class="dtc">
                                <div class="select">
                                    <div class="select select__label">Общее</div>
                                    <select name="" id="">
                                        <option value="1">Общее</option>
                                        <option value="1">Медиатека 1</option>
                                        <option value="1">Медиатека 2</option>
                                        <option value="1">Медиатека 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                            <h4 class="media__sermon__topic">Название ролика</h4>

                            <div class="center">
                                <div class="pull-left">Автор:</div>
                                <div class="pull-right media__sermon__author">Очень Длинная Фамилия и Имя</div>
                            </div>
                            <div class="center">
                                <div class="pull-left">Дата:</div>
                                <time class="pull-right">20.12.2012</time>
                            </div>
                        </div>
                    </section>
                  <% elsif type == 'Песни' %>

                    <section class="media__sermon media__audio
                              <% if n == 2 %>active
                              <% end %>">

                        <div class="pull-right  media__sermon__img ">
                            <div class="dtc">
                                <div class="select">
                                    <div class="select select__label">Общее</div>
                                    <select name="" id="">
                                        <option value="1">Общее</option>
                                        <option value="1">Медиатека 1</option>
                                        <option value="1">Медиатека 2</option>
                                        <option value="1">Медиатека 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                            <h4 class="media__sermon__topic">Название песни</h4>

                            <div class="center">
                                <div class="pull-left">Исполнитель:</div>
                                <div class="pull-right media__sermon__author">Слово Жизни</div>
                            </div>
                            <div class="center">
                                <div class="pull-left">Альбом:</div>
                                <time class="pull-right">n/a</time>
                            </div>
                        </div>
                    </section>
                  <% end %>
                <% end %>
            </div>
        </div>
    </div>
  <% end %>
<% end %>
</div>

</section>
</div>
