<article class="messages__item <%= type %>">
    <header>
        <div class="pull-left">
            <a class="avatar pull-left" href="javascript:void(0);"><img src="images/tmp/ava1.jpg" alt=""/></a>
            <a class="messages__author" href="javascript:void(0);">Алексей Иванов</a>
            <time>11 октября 20:28</time>
        </div>
        <div class="pull-right messages__item_type"><%= typeText %></div>
    </header>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorum eius eligendi expedita facilis laboriosam minima minus, modi neque nobis, nulla porro quis reiciendis rem repellendus repudiandae sapiente? Aliquid aperiam deleniti dolorem doloribus, facilis id illum molestiae neque, quisquam repellendus saepe temporibus, voluptas. Accusamus accusantium adipisci alias animi, asperiores blanditiis debitis distinctio dolore dolores earum eos facere hic illo in iure minus necessitatibus neque nesciunt nisi obcaecati perferendis provident, quam, qui quibusdam quisquam soluta tempore totam unde ut veritatis! Aliquid, consectetur cumque expedita hic inventore molestias, ratione, similique sint sit soluta sunt ullam veniam voluptates. Eaque harum quibusdam quo rerum?
    </p>
</article>