<section class="widget pastors-testimony">
    <header class="widget__header">
        <i class="icon-pencil"></i>
        Свидетельство пастора
        <div class="pull-right">
            <span data-toggle-class="closed|closest|.pastors-testimony" class="btn btn_green">Показать</span>
            <span data-toggle-class="closed|closest|.pastors-testimony" class="btn btn_red">Скрыть</span>
        </div>
    </header>
    <div class="widget__rows_zebra clearfix">
        <div class="pastors-testimony__video">
            <iframe src="//player.vimeo.com/video/71070693?title=0&amp;byline=0&amp;portrait=0" width="436" height="245" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <article class="pastors-testimony__article">
            <h2>Обращение</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci alias aspernatur dignissimos facere, illo neque nisi, nulla perspiciatis provident quae qui quisquam soluta ut velit veniam vero voluptas voluptates!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci alias aspernatur dignissimos facere, illo neque nisi, nulla perspiciatis provident quae qui quisquam soluta ut velit veniam vero voluptas voluptates!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci alias aspernatur dignissimos facere, illo neque nisi, nulla perspiciatis provident quae qui quisquam soluta ut velit veniam vero voluptas voluptates!</p>
        </article>

    </div>
</section>