<section class="cycle-slideshow "
         id="purchase-slides"
         data-cycle-slides="> div"
         data-cycle-timeout=0
         data-cycle-fx="flipHorz">
    <div class="widget widget_small ">
        <h2 class="widget__header "><i class="icon-coin"></i> Пожертвование</h2>
        <article class="widget__body">
            <h2>Текст о пожертвованиях</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi, corporis cum, ducimus enim esse fugit illo illum iure laboriosam optio pariatur quas qui quidem, sunt. Asperiores aspernatur, at eaque et hic illum ipsam ipsum mollitia odit recusandae, sint tenetur ullam voluptatum! Cum dolores dolorum eveniet id iste iusto libero maiores nam nisi, nobis nostrum perspiciatis quasi, rem, repellendus sit. Asperiores dolore doloribus, ducimus ea exercitationem illo magnam quaerat recusandae saepe sit, suscipit temporibus veritatis voluptatem voluptates voluptatum? Accusamus commodi consectetur deleniti, eius eos eveniet itaque magni minus modi placeat quidem rem totam vero! Aliquid eos illum maxime minus similique.</p>
        </article>
        <footer class="widget__footer">
            <div class="pull-left">
                <a
                href="javascript:void(0);"
                data-cycle-cmd="goto"
                data-cycle-arg="2"
                data-cycle-context="#purchase-slides"
                class="purchase-link">
                    <i class="icon-list"></i>
                    посмотреть список последних пожертвований
                </a>
            </div>
            <div class="pull-right">
                <a
                href="javascript:void(0);"
                data-cycle-cmd="goto"
                data-cycle-arg="1"
                data-cycle-context="#purchase-slides"
                class="btn  btn_green ">Пожертвовать</a>
            </div>
        </footer>
    </div>
    <div class="widget widget_small">
        <h2 class="widget__header "><i class="icon-coin"></i> Реквизиты</h2>
        <article class="widget__body">
            <p>
                Корр. счет: 30101810900000000795 в ГРКЦ ГУ
            </p>

            <p>
                Банка России по Свердловской обл.
            </p>

            <p>
                ИНН: 6608008004
            </p>

            <p>
                БИК: 046577795
            </p>

            <p>
                КПП: 667101001
            </p>
        </article>
        <footer class="widget__footer">
            <div class="pull-left">

                <a
                href="javascript:void(0);"
                data-cycle-cmd="goto"
                data-cycle-arg="0"
                data-cycle-context="#purchase-slides"
                class="purchase-link">
                    <i class="icon-quoted"></i>
                    Назад
                </a>
            </div>
        </footer>
    </div>
    <div class="widget widget_small">
        <h2 class="widget__header "><i class="icon-coin"></i> Последние пожертвования</h2>
        <article class="widget__body">
            <% (1..4).each do |n| %>
              <div class="person-preview">
                  <div class="pull-left">
                      <a class="person-preview__ava" href="javascript:void(0);">
                          <img src="images/tmp/ava1.jpg" alt=""/>
                      </a>
                  </div>
                  <div class="pull-right">
                      <span class="btn btn_green"><i class="icon-users"></i> в друзья</span>
                  </div>
                  <div class="center">
                      <a href="javascript:void(0);">Алексей Московский</a>
                      <time>21.20.2013</time>
                  </div>
              </div>
            <% end; %>
        </article>
        <footer class="widget__footer">
            <div class="pull-left">
                <a
                href="javascript:void(0);"
                data-cycle-cmd="goto"
                data-cycle-arg="0"
                data-cycle-context="#purchase-slides"
                class="purchase-link">
                    <i class="icon-quoted"></i>
                    Назад
                </a>
            </div>
        </footer>
    </div>
</section>