<div class="widget list">
    <form action="#" class="controls-box ">
        <% if defined?(label) %>
          <span class="label"><%=label%>:</span>
        <% end %>
        <input class="textbox textbox_search" type="text" placeholder="Введите имя для поиска"/>
        <ul>
            <li class="active">Александр Бердышев</li>
            <% (1..17).each do |n| %>
              <li>Александр Бердышев</li>
            <% end %>
        </ul>
    </form>
</div>