.photo-album {
  position: relative;
  border: 1px solid rgba(#000, .2);
  font-size: 0;
  line-height: 0;
  display: block;
  margin-bottom: 10px;
  img {
    width: 433px;
    height: 244px;
  }
}

.photo-album__title {
  height: 34px;
  line-height: 34px;
  background: rgba(#000, .5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  color: #fff;
  font-size: 13px;
  overflow: hidden;
  @include box-sizing(border-box);
  padding: 0 15px;
}

.photo-album__title__name {
  max-width: 325px;
}

.media-item {
  @extend .clearfix;
  height: 61px;
  border: 1px solid #eee;
  font-size: 10px;
  line-height: 1.2;
  @include box-sizing(border-box);
  padding: 0 18px;
  margin-bottom: 10px;
  display: table;
  width: 100%;
  @include border-radius(2px);
  .dtc {
    height: 61px;
  }
  span {
    display: block;
  }
}

.media-item__in {
  display: table-row;
}

.media-item__type {
  color: #767676;
  font-weight: 700;
}

.media-item__name {
  font-size: 10px;
}

.need-preview {
  height: 266px;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
  overflow: hidden;
  .need-preview__head {
    font-size: 13px;
    padding-bottom: 15px;
    a {
      width: 310px;
    }
  }
  p {
    font-size: 13px;
    height: 204px;
    overflow: hidden;
    line-height: 19px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 65px;
    width: 100%;
    @include v-gradient(rgba(#fff, .0), #fff);
    z-index: 2;
  }
}

.need-preview__head {
  @extend .clearfix;
}

.card-preview {
  a {
    font-size: 13px;
  }
  .need-preview__head {
    padding-bottom: 10px;
  }
}

.person-preview {
  height: 48px;
  border: 1px solid #eee;
  @include box-sizing(border-box);
  padding: 9px 12px;
  margin: 0 0 7px 0;
  @include border-radius(1px);
  a {
    display: block;
    font-size: 13px;
  }
  time {
    font-size: 10px;
    color: #767676;
  }
}

.person-preview__ava {
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0 16px 0 0;
  img {
    width: 30px;
  }
}

.card-preview__left {
  float: left;
  width: 115px;
  display: block;
  padding-bottom: 8px;
  a {
    display: block;
  }
  img {
    width: 97px;
  }
}

.card-preview__title {
  position: relative;
  top: -2px;
  margin-bottom: 10px;
  display: block;
}

.media-search {
  position: relative;
  input[type=text] {
    width: 100%;
    padding-right: 30px;
  }
}

.media-search__submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  @extend .icon-search;
  cursor: pointer;
  //color:$colorGreen;
  input[type=submit] {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
}

.media {

}

.media__items {
  overflow: hidden;
  @include box-sizing(border-box);
  margin: 0 35px 0 0;
  padding: 10px 35px 0 0;
  max-height: 400px;
  overflow: auto;
}

.media__audio {

}

.media__sermon {
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #d0d0d0;
  @include transition(all 0.3s);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .08), inset 0 0 0 1px rgba(255, 255, 255, .5));
  background: #fff;
  @include border-radius(3px);
  margin-bottom: 14px;
  padding: 14px;
  font-size: 13px;
  img {
    display: block;
  }
  time {
    color: #767676;
    margin-bottom: 8px;
  }
  &:hover,
  &.active {
    background: rgba($colorGreen, .8);
    border-color: $colorGreen;
    .media__sermon__topic {
      color: #fff;
    }
    .media__sermon__author,
    time {
      color: rgba(0, 0, 0, 0.72);
    }
  }
  .select {
    display: inline-block;
    width: 110px;
    margin-bottom: 0;
  }
  .dtc {
    height: 66px;
    vertical-align: middle;
  }
}

.media__sermon__topic {
  color: $colorGreen;
  margin-bottom: 11px;
  @include transition(all 0.3s);
}

.media__sermon__author {
  color: #767676;
  margin-bottom: 8px;
}

.media__sermon__img {
  display: block;
  margin: 0 0 0 14px;
}

.video {
  margin-bottom: 14px;
}

.audio {
  padding-bottom: 7px;
}

.media-photo {
  width: 328px;
  height: 185px;
  img {
    width: 100%;
    height: 100%;
  }
}

.media-photo_small {
  width: 216px;
  height: 123px;
  margin-left: 8px;
  margin-bottom: 7px;
  @include transition(all 0.3s);
  &.first {
    margin-left: 0;
  }
}

.media-photo-wrap {
  &:hover ,
  &.fancybox-opened {
    .media-photo_small {
      @include opacity(0.7);
      &.active,
      &:hover {
        @include opacity(1);
      }
    }
  }
}

.media-photo__header {
  padding-bottom: 10px;
}

.media__album__back {
  font-size: 12px;
  height: 27px;
  line-height: 27px;
  color: $colorGreen;
  text-decoration: none !important;
  i {
    position: relative;
    top: 1px;
    margin: 0 4px 0 0;
  }
}

.media__album-name {
  height: 27px;
  line-height: 27px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  width: 50%;
  font-size: 13px;
  @include box-sizing(border-box);
  padding: 0 15px;
}