.widget {
  & > h2 {
    i {
      color: #000;
      position: relative;
      top: 1px;
      font-size: 16px;
      margin: 0 10px 0 0;
    }
  }
  border: 1px solid #d0d0d0;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .08), inset 0 0 0 1px rgba(255, 255, 255, .5));
  @include border-radius(3px);
  margin: 0 0 11px 0;
  background: #fff;
}

.widget_small{
  width: 463px;
}

.widget_video{
  .widget__body{
    width: 451px;
    margin: 0 auto;
    padding: 4px 0;
  }
}


.widget__body{
  padding: 10px 14px;
}

.widget__row {
  height: 46px;
  line-height: 46px;
  @include box-sizing(border-box);
  //padding: 0 14px 0 28px;
  padding: 0 14px;
  overflow: hidden;
  background: #f7f7f7;
  border-bottom: 1px solid #e5e5e5;
  color: #767676;
  font-size: 13px;
  &.first {
    @include border-radius(2px 2px 0 0);
  }
  &.last {
    border: 0;
    @include border-radius(0 0 2px 2px);
  }
}

.widget__row_big {
  height: auto;
  min-height: 46px;
  line-height: 1.2;
  padding-top: 17px;
  padding-bottom: 17px;
}

.widget__header {
  @extend .widget__row;
  font-size: 16px;
  background: #fff;
  color: #000;
  @include border-radius(2px 2px 0 0);
}

.widget__footer{
  height: 54px;
  line-height: 54px;
  padding: 0 14px;
  border-top: 1px solid #d0d0d0;
  background: #fff;
  @include border-radius(0 0  $btnRadius $btnRadius);
  overflow: hidden;
  .btn{
    position: relative;
    top: -3px;
  }
  a{
    font-size: 11px;
  }
}
.purchase-link{
  text-decoration: none !important;
  position: relative;
  top: -2px;
  i{
    margin: 0 5px 0 0;
    font-size: 13px;
    position: relative;
    top: 2px;
  }
}

.widget__tabs{
  height: 608px;
}

.widget__rows_zebra {
  .widget__row:nth-child(even) {
    background: #fafafa;
  }
}

.schedule {
  width: 100%;

    th {
      height: 46px;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 13px;
      text-align: center;

  }

  tr{
    &:nth-child(even){
      td{background: #fafafa}
    }
    &:nth-child(odd){
      td{background: #f7f7f7}
    }
  }
  td{
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    &:first-child{
      border-left: 0;
    }
    font-size: 13px;
    color: #767676;
    text-transform: uppercase;
    text-align: center;
    height: 48px;
  }
}

.post {
  background: #f9f9f9;
  .avatar {
    margin: 0 10px 25px 0;
  }
}

.post__in {
  @extend .clearfix;
  padding: 15px;
}

.post__info {
  width: 380px;
}

.post__author {
  color: $colorGreen !important;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  height: 17px;
  overflow: hidden;
}

.post__date {
  color: #757575;
  font-size: 13px;
  position: relative;
  padding: 0 0 0 13px;
  margin-bottom: 35px;
  height: 20px;
  line-height: 20px;
  i {
    font-size: 18px;
    position: absolute;
    left: -5px;
    top: 2px;
  }
}

.post__quoted {
  h4 {
    color: #000;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .avatar {
    width: 49px;
    margin: 0 10px 0 0;
  }
  .post__author {
    font-size: 13px;
    margin: 0 0 5px 0;
  }
}

.post__nav {
  border-top: 1px solid #d6d6d6;
  background: #fff;
  overflow: hidden;
  padding: 18px;
  .btn {
    margin-left: 8px;
  }
  .segmented-btn {
    .btn {
      margin-left: 0;
    }
  }
}

.post__like__btn {
  overflow: hidden;
  color: #f9f9f9;
  font-size: 13px;
  display: block;
  width: 140px;
  height: 25px;
  line-height: 23px;
  margin-bottom: 5px;
  padding: 0 8px;
}

.comments {

}

.comments__btn {
  height: 50px;
  line-height: 50px;
  display: block;
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-decoration: none !important;
  border: 1px solid #2e6dbb;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .13), inset 0 1px 0 rgba(255, 255, 255, .28));
  @include background-image(linear-gradient(bottom, #519fff 0%, #8bbefd 100%));
  @include box-sizing(border-box);
  &:hover {
    @include background-image(linear-gradient(bottom, #8bbefd 0%, #519fff 100%));
  }
  &:active {
    @include background-image(linear-gradient(bottom, #519fff 0%, #519fff 100%));
  }
}
