<ul>
    <li><a href="home.html">Главная</a></li>
    <li><a href="my_profile.html">Моя страница</a></li>
    <li><a href="events.html">События</a></li>
    <li><a href="needs.html">Нужды</a></li>
    <li><a href="testimonies.html">Свидетельства</a></li>
    <li><a href="people.html">Люди</a></li>
    <li><a href="notifies.html">Напоминания</a></li>
    <li><a href="messages.html">Сообщения</a></li>
    <li><a href="pastors_profile.html">Пастор</a></li>
    <li><a href="home-groups.html">Домашние группы</a></li>
    <li><a href="media-sermon.html">Медиа проповеди</a></li>
    <li><a href="media-audio.html">Медиа аудио</a></li>
    <li><a href="media-clips.html">Медиа клипы</a></li>
    <li><a href="media-photo.html">Медиа фото</a></li>
    <li><a href="media-photo-photo.html">Медиа фото ин</a></li>
    <li><a href="church.html">Церковь</a></li>
</ul>


