<section class=<%= auth %>>
    <header class="widget__header">
        <% if  auth == 'registration' %>
          <i class="icon-user-add"></i> Регистрация
        <% else %>
          <i class="icon-user"></i> Вход
        <% end %>
    </header>
    <form action="#">
        <input class="m0a" type="email" placeholder="Электронная почта"/>
        <input class="m0a" type="password" placeholder="Пароль"/>
        <% if  auth == 'registration' %>
          <input class="m0a last" type="password" placeholder="Повторите пароль"/>
        <% end %>
        <input class="btn btn_green m0a" value="зарегестрироваться" type="submit"/>
        <input class="btn btn_blue m0a authRegHide" value="отменить" type="button"/>
    </form>
</section>